.kasa-about {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 28px;
    margin-bottom: 28px;
}

.kasa-about div {
    width: 97%;
    margin: 0 auto;
}

.kasa-about-img {
    width: 100%;
    height: 223px;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    border-radius: 25px;
    background: url("../assets/background-about.png");
}

.kasa-about-collapse {
    /* width: 975px; */
    width: 90%;
    height: 47px;
    padding-left: 18px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
}

.kasa-about-collapse h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.kasa-about-expend {
    width: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    background: #F7F7F7;
    border-radius: 0px 0px 5px 5px;
    padding-left: 18px;
    padding-right: 30px;
}

.kasa-about-expend span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FF6060;
}

.kasa-about-collapse-box {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 767px) { /* Mobile */
    .kasa-about {
        max-width: 767px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 19px;
        margin-bottom: 19px;
    }

    .kasa-about-img {
        /* opacity: 0.8;
        border-radius: 25px;
        background: url("../assets/background-about.png"); */
        

        width: 100%;
        height: 223px;
        background-size: cover;
        background-position: bottom;
    }

    .kasa-about div {
        width: 97%;
        margin: 0 auto;
    }

    .kasa-about-collapse {
        width: 90%;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #FF6060;
        border-radius: 5px;
    }

    .kasa-about-collapse h2 {
        font-size: 13px;
    }

    .kasa-about-expend {
        padding-top: 17px;
        padding-bottom: 17px;
        background: #F7F7F7;
        border-radius: 0px 0px 5px 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .kasa-about-collapse-box {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .kasa-about-expend span {
        
        
        font-size: 12px;
    }
}